<%- include('header.ejs') %>
    <main class="mw join">
        <h2>THE BLOG </h2>    
        <form action="/mypage" class="writeCon" method="post">
            <input type="hidden" name="_method" value="put">    
            <strong>회원정보수정</strong>
            <label>아이디</label>
            <span class="formItem"><%= userCk.userId %></span>
            <input type="hidden" id="userId" name="userId" value="<%= userCk.userId %>">
            <label for="userName">이름</label>
            <input type="text" id="userName" name="userName" value="<%= userCk.userName %>" placeholder="이름 입력">
            <label for="pw">비밀번호</label>
            <input type="password" id="pw" name="pw" placeholder="비밀번호 입력">
            <label for="pw2">비밀번호 확인</label>
            <input type="password" id="pw2" name="pw2" placeholder="비밀번호 입력">          
            <p class="alertModal"></p>
            <button class="signupBtn btn btnPrimary">회원가입</button>
        </form>
    </main>
    <script>
        const signupBtn = document.querySelector('.signupBtn');
        const alertModal = document.querySelector('.alertModal');
        const userId = document.querySelector('#userId');
        const pw = document.querySelector('#pw');
        const pw2 = document.querySelector('#pw2');
        const userName = document.querySelector('#userName');
    
        const validateInput = (input, message) => {
            if (input.value.trim() === '') {
                alertModal.innerHTML = message;
                input.focus();
                return false;
            }
            return true;
        };
    
        const validateRegex = (input, regex, message) => {
            if (!regex.test(input.value.trim())) {
                alertModal.innerHTML = message;
                input.focus();
                return false;
            }
            return true;
        };
    
        signupBtn.addEventListener('click', (e) => {
            e.preventDefault();
    
            if (!validateInput(userId, '아이디를 입력해주세요.')) return;
            if (!validateRegex(userId, /^[A-Za-z0-9]+$/, '영문,숫자로만 입력해주세요.')) return;
            if (!validateInput(pw, '비밀번호를 입력해주세요.')) return;
            // if (!validateRegex(pw, /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/, '영문,숫자,특수문자 조합으로 8자리이상 입력해주세요.')) return;
            if (!validateInput(pw2, '비밀번호 확인을 입력해주세요.')) return;
    
            if (pw.value.trim() !== pw2.value.trim()) {
                alertModal.innerHTML = '비밀번호가 일치하지 않습니다 .';
                pw2.focus();
                return;
            }    
            if (!validateInput(userName, '이름을 입력해주세요.')) return;
    
            e.target.closest('form').submit();
        });
    </script>
<%- include('footer.ejs') %>